.height{
    height: 100px;
    width: 100%;
}
.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.input{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 5px;
}
.user {
    padding: 10px;
    gap: 10px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}
.forgot-password2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.forgot-password2>div {
    padding: 5px;
    display: flex;
    justify-content: center;
}
