.noReviews {
    text-align: center;
}
.product-review {
    padding: 25px;
    margin: 15px 30px 15px 30px;
    width: 100%;
    height: fit-content;
    background-color: #974a77;
    display: flex;
    text-align: justify;
    border-radius: 20px;
    border: 5px solid rgb(105, 59, 67);
}
.product-review-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}