.noReviews {
    text-align: center;
}
.product-review {
    padding: 25px;
    margin: 15px 30px 15px 30px;
    width: 100%;
    height: fit-content;
    background-color: rgb(151, 74, 119);
    display: flex;
    text-align: justify;
}
.product-review-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}